* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: Montserratt;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;

}

.main {
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 0%;
    /* background-color: yellow; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Welcome {
    font-size: 14px;
    font-family: Montserratt;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-bottom: 20px;
}

.title {
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    margin-bottom: 0px;
}

.description {
    font-size: 16px;
    line-height: 30px;
    color: var(--color-lightn);
    padding-right: 16%;
    opacity: 0.9;
}

.box-shadow {
    /* position: relative; */
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: linear-gradient(145deg, #000000, #000000);
    box-shadow: 7px 7px 10px rgba(015, 015, 015, 0.4),
        -7px -7px 10px rgba(070, 070, 070, 0.4);
}

.toolIcone {
    /* background-color: #fff; */
    width: 25%;
    margin: 5px 0px 0px 0px;
    justify-content: space-between;
}

.MacBook {
    background-color: transparent !important;
    /* Force transparency */
}

.MacBook {
    background-color: #fff;
    width: 100px;
}

.my-detail h1 {
    font-size: 34px;
    color: #fff;
}



/* Skill Page */
.Skill-page-header {
    font-size: 52px;
    position: relative;
    width: 15%;
    margin: 0px 0px 50px 150px;
    /* background-color: red; */
}

.line-1 {
    position: absolute;
    bottom: 2%;
    height: 5px;
    width: 70%;
    background-color: #fff;
}

.line-2 {
    position: absolute;
    bottom: -14%;
    height: 5px;
    width: 40%;
    background-color: #fff;
}
/* 
.skill-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
}
.skill-box {
    width: 85%;
    border-radius: 25px;
    margin: auto;
    height: 24vh;
    border: 1px solid #fff;
    transition: 0.5s;
}

.skill-box:hover{
    background: linear-gradient(145deg, #000000, #000000);
    box-shadow: rgba(239, 233, 233, 0.3) 0px 5px 15px 3px;
        
}

.sub-skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Icone {
    font-size: 72px;
    margin-bottom: 10px;
    color: #E65100;
}

.Icone-text {
    text-align: center;
    color: antiquewhite;
    font-size: 28px;
} */