/* Navbar.css */

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    border-bottom: 1px solid #c4cfde;
    transition: 0.3s ease-in-out;
    z-index: 999;
}

.nav-links {
    /* background-color: #fff; */
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.sub-nav-links {
    margin: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 200px;

    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.sub-nav-links span {
    font-size: 18px;
    color: white;
    transition: opacity 0.3s ease-in-out;

}

.sub-nav-links:hover span {
    color: #00f7f7;
}

.small-dots-one,
.small-dots-two {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
}

.small-dots-one {
    height: 7px;
    width: 7px;
    right: 28%;
    top: 20%;
    opacity: 0;
    background-color: #00f7f7;
}

.small-dots-two {
    height: 12px;
    width: 12px;
    right: 19%;
    top: -1%;
    opacity: 0;
    background-color: #00f7f7;
}

.nav-icone {
    font-size: 22px;
    height: 30px;
    width: 30px;
    padding: 7px;
    border-radius: 50%;
    background-color: #00f7f7;
    opacity: 0;
    transform: scale(0);
    position: absolute;
    right: 0%;
    top: 0%;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.Line {
    height: 3px;
    width: 0%;
    margin: auto;
    background-color: #00f7f7;
    transition: width 0.3s ease-in-out;
}

.sub-nav-links:hover .Line {
    width: 110%;
}

.sub-nav-links:hover .small-dots-one {
    opacity: 1;
}

.sub-nav-links:hover .small-dots-two {
    opacity: 1;
}

.sub-nav-links:hover .nav-icone {
    opacity: 1;
    transform: scale(1) translateY(-18px);
    cursor: pointer;
}

.dark,
.settingIcone {
    font-size: 22px;
    height: 30px;
    width: 30px;
    padding: 7px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.settingIcone {
    margin: 0 0 0 20px;
}

.Changer {
    display: flex;
    text-align: end;
    /* background-color: #fff; */
}

.modeIcone,
.colorIcone {
    width: 50%;
    /* background-color: red / yellow; */
}